/build
/node_modules
/src/vendor
/test/fixture/error
/test/fixture/main/top-level-await
/test/fixture/source
/test/node_modules/error
/test/output
/test/export/star-cycle.mjs
/test/fixture/export/dup-local.mjs
/test/misc/builtin/namespace.mjs
