.*
/build
/node_modules
/src/vendor
/test/fixture/extension
/test/misc/source
/test/output
/test/export/cycle-all.mjs
/test/export/extension.mjs
/test/import/extension.mjs
/test/misc/export/dup-local.mjs
/test/misc/builtin/namespace.mjs
