*.log
.cache
.config
.DS_Store
.node_repl_history
.node-spawn-wrap-*
.nyc_output
.pm2
.vscode
/build
/esm
/node_modules
/src/vendor
/test/env/prefix/bin
/test/env/prefix/node
/test/fixture/find-path/created
/test/fixture/unsafe-characters\[*\].mjs
/test/fixture/main-hook/symlink/file/symlink.*js
/test/fixture/scenario/ava-nyc-tsc/*.js
/test/fixture/scenario/webpack/output.js
/test/node_modules/symlink
/test/vendor
