*.log
.cache
.config
.DS_Store
.node_repl_history
.node-spawn-wrap-*
.nyc_output
.pm2
.vscode
/build
/esm
/node_modules
/src/vendor
/test/env/prefix/bin
/test/env/prefix/node
/test/fixture/main-hook/symlink/symlink.js
/test/fixture/main-hook/symlink/symlink.mjs
/test/fixture/scenario/ava-nyc-tsc/*.js

/test/vendor/test262/.repo
/test/vendor/test262/.js-tests
/test/vendor/test262/.mjs-tests
/test/vendor/test262/.repo-clone
