*.gz
*.log
.cache
.config
.DS_Store
.node_repl_history
.node-spawn-wrap-*
.nyc_output
.pm2
.vscode
package-lock.json
/build
/node_modules
/src/vendor
/test/env/prefix/bin
/test/env/prefix/node
/test/fixture/scenario/ava-nyc-tsc/*.js
