language: node_js

node_js:
  - "7"
  - "6"
  - "5"
  - "4"
  - "iojs"
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
  - "0.6"

matrix:
  allow_failures:
  - node_js: "0.8"
  - node_js: "0.6"

sudo: false
