language: node_js
sudo: false
os:
  - linux
  - osx

node_js:
  - 12
  - 11
  - 10
  - 8

cache: npm

matrix:
  include:
    - node_js: 12
      env: HARMONY=true

before_install:
  - npm i -g npm

script:
 - |
      if [ $TRAVIS_NODE_VERSION = "8" ]
      then
        npm run test:prod
      else
        npm test
      fi
